/* ----------GLOBAL----------------------- */
body {
  font-family: "IBM Plex Sans";
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 29px;
  padding-top: 30px;
}

h2 {
  font-size: 21px;
  margin: 20px 0;
  color: black;
}

h3 {
  font-size: 20px;
  padding-bottom: 12px;
  line-height: 20px;
  font-weight: normal;
}

main {
  background-color: #f2f5f5;
  min-height: 100vh;
}

/* ----------HEADER----------------------- */
header {
  border-bottom: 1px solid lightgrey;
}

header img {
  width: 150px;
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

/* ----------PRESENTATION----------------------- */
.box-pres,
.pres {
  width: 100%;
  background-color: white;
}

.pres {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
}

.pres img {
  width: 400px;
  padding: 20px 0;
  border-radius: 25px;
}

.pres p {
  padding: 20px 20px 0 0;
  font-size: 18px;
  line-height: 27px;
  color: #868a8a;
}

/* ----------SECTION----------------------- */
.big-box {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

section {
  width: 300px;
  flex: 2;
}

.boxcol {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.col {
  width: calc(50% - 10px);
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 150px;
  border-radius: 7px;
  padding: 15px;
  cursor: pointer;
}

.col img {
  width: 100px;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.col p:last-child {
  color: #ff8001;
  font-size: 14px;
  padding-left: 20px;
}

.star {
  margin-right: 5px;
  font-size: 13px;
}

.cut-text {
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  color: #b6b9b9;
  font-size: 15px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.popular {
  display: flex;
}

/* ----------PANIER----------------------- */
.panier {
  width: 100%;
  background-color: white;
  margin: 10px;
  flex: 1;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 15px #e0e3e3;
  border-radius: 5px;
  color: #868a8a;
  padding: 15px;
}

#panier-center {
  text-align: center;
  margin-top: 40px;
}

button {
  all: unset;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  height: 47px;
  background-color: #bac3c3;
  color: #8b9a9b;
  border-radius: 5px;
}

button.panier-select {
  background-color: #02cdbd;
  color: white;
}

.panier-title,
.panier-counter,
.panier-box,
.panier-total {
  display: flex;
  justify-content: space-between;
}

.panier-box {
  margin-bottom: 15px;
  line-height: 23px;
}

.panier-calcul {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  color: black;
}

.panier-calcul p,
.panier-total h2,
.panier-total p {
  margin: 20px 0;
  color: black;
}

.fa-regular {
  font-size: 12px;
  border-radius: 100px;
  padding: 3px;
  border: 1px solid #02cdbd;
  color: #02cdbd;
  margin: 5px;
  position: relative;
  top: -4px;
}
